    app-banner .banner{
      display: flex;
      position: relative;
      height: 100%; 
      width: 100%;   
      flex-direction: column;
      font-size: 50px;
      background-color: #0E2B3C;
      z-index: 1;
    }
    app-banner .banner-item{
      display: flex;
      flex-direction: row;
      height: auto; 
      width: 100%; 
      align-self: center; 
      z-index: 1;
      align-items: first baseline; 
      font-size: 70px;                                  
      position: relative;
      margin-top: 0px;
    }
    app-banner .banner-texto{
      font-family: 'Playfair Display', serif;
      font-size: 80px;
      align-content: center;
      margin-left: 210px;
      margin-top: 50px;
      width: 1950px;
      color: black;
    }
    app-banner .banner-image{
      width: 100%;
      height: 800px;
      position: absolute;
      z-index: 1;
      display: flex;
      flex-direction: column;
    }
    app-banner .banner-line{
    width: 100%;
    height: 2px;
    background-color: #0097b2;
    }

    app-banner .banner-line-register{
    width: 100%;
    height: 2px;
    background-color: #0097b2;
    background-color: #2a8dbe;
    height: 200px;
    opacity: 0.4;
    }

    app-banner .btn {
    background-image: var(--bg-background-image); 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #00000000;
    width: auto;
    height: auto;
    }

    app-banner .button-register {
      width: 300px; 
      height: 100px; 
      border-radius: 20px; 
      display: flex; 
      align-items: center; 
      padding-left: 50px; 
      background-color: #1DA1F2; 
      opacity: 1; 
      color: black; 
      font-size: 60px; 
      margin-left: 30px;
      cursor: pointer;
      font-family: 'Times New Roman', Times, serif;
      display: flex;
      flex-direction: row;
      align-items: center;
      border:#1772aa;
      text-decoration: none;
    }
    
    @media (min-width: 800px), (max-width: 1500px) {
      app-banner .banner {
        height: auto;
        padding: 0px;
        flex-direction: column;
      }

      app-banner .banner-texto {
        margin-left: 190px;
      }

      app-banner .banner-line-register{
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      app-banner .banner {
        margin: 0;
        width: 100%;
        height: auto;
        padding: 0px;
        flex-direction: column;
      }

      app-banner .cronograma-imagen {
        height: 300px;
      }

      app-banner .banner-item {
        font-size: 2rem;
        width: auto;
        margin-left: 0px;
        margin-top: 0px;
        text-align:justify;
        display: flex;
        flex-direction: column;
      }

      app-banner .banner-texto {
        width: 100%;
        margin-left: 0px;
        padding-right: 10px;
        margin-top: 10px;
        font-size: 3rem;
      }

      app-banner .banner-line-register{
      width: 500px;
      height: auto;
      display: flex;
      flex-direction: column;
      margin-left: -10px;
      }

      app-banner .button-register {
        width: 250px; 
        height: 80px; 
        font-size: 30px; 
        margin-left: 50px;
        align-self: center;
        padding-left: 70px;
    }
  }
    @media (min-width: 1700px) {
      app-banner .banner-texto {
        margin-left: 190px;
      }
      
      app-banner .banner-line{
      width: 100%;
      }
    }