app-sponsors .sponsors{
      width: 100%;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
app-sponsors .sponsors-header{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
app-sponsors .sponsors-titulo{
  width: 100%;
  height: auto;
  font-size: 70px;
  font-family: 'Playfair Display', serif;
  align-self: center;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
app-sponsors .sponsors-line{
  width: 90%;
  height: 2px;
  margin-left: 35px;
  background-color: rgb(151, 0, 46);
}
app-sponsors .sponsors-grid{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 50px;
}
app-sponsors .sponsors-item {
  width: 380px;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
app-sponsors .sponsors-item-img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}
app-sponsors .sponsors-texto{
  font-size: 20px;
  font-family: 'Playfair Display', serif;
}
@media (max-width: 768px) {
  app-sponsors .sponsors {
    width: 100vw;
    height: auto;
    padding: 2rem 0;
    border-radius: 10px;
  }

  app-sponsors .sponsors-grid {
    flex-direction: column;
    gap: 2rem;
  }

  app-sponsors .sponsors-items {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  app-sponsors .sponsors-titulo {
    width: 100vw;
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
  }

  app-sponsors .sponsors-line {
    width: 80vw;
    margin-left: 1vw;
  }
}
@media (min-width: 768px), (max-width: 1600px) {
  app-sponsors .sponsors-grid{
    gap: 2rem;
  }
}


@media (min-width: 1600px) {
  app-sponsors .sponsors-titulo{
    font-size: 100px;
  }

  app-sponsors .sponsors-grid{
    gap: 12rem;
  }

  app-sponsors .sponsors-item{
    transform: scale(1.3);
  }
}