    .btn {
      --bg-background-image: ;

      background-image: var(src(--bg-background-image));
      border: none;
      border-radius: 20px;
      cursor: pointer;
      font-family: 'Times New Roman', Times, serif;
      font-size:larger;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .container-column{
      display:flex;
      flex-direction:column;
      align-items: center;
      
    }
    .container-row{
      display:flex;
      flex-direction:row;
    }
    .container{
    --bg-gap: ;

    background-color: white;
    padding: 10px;
    display: flex;              /* Activa flexbox */
    align-items: center;        /* Centra verticalmente */
    gap: var(--bg-gap);         /* Espacio entre elementos */
    box-sizing: border-box;
    flex: 1;
    }
    h3{
      font-family: 'Playfair Display', serif;
      font-size: 100;
    }
    @keyframes bajarHeader {
      from {
        transform: translateY(-100%);
        opacity: 1;
      }
      to {
        transform: translateY(0);
        opacity: 0.75;
      }
    }
    .animarHeader {
    animation: bajarHeader 0.5s ease forwards;
    }
    #logo-header {
  transition: transform 0.3s ease;
  }

  .achicarLogo {
    transform: scale(0.7);
  }
  .cronograma-item {
  background-color: #0E2B3C;
  color: white;
  padding: 25px 30px; /* Aumenté el padding */
  margin: 25px 0;
  position: relative;
  clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 100%); /* Más pronunciado */
  display: flex;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

.cronograma-hora {
  font-weight: bold;
  font-size: 2em; /* Más grande */
  margin-right: 20px;
}

.cronograma-linea {
  width: 4px; /* Más gruesa */
  height: 60px; /* Más alta */
  background-color: #1DA1F2;
  margin-right: 20px;
}

.cronograma-texto {
  display: flex;
  flex-direction: column;
}

.cronograma-titulo {
  font-weight: bold;
  font-size: 1.3em; /* Más grande */
  text-transform: uppercase;
}

.cronograma-subtitulo {
  font-size: 1em; /* Un poco más grande */
  color: #C0C0C0;
}
#overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}

#overlay.activo {
  opacity: 1;
  pointer-events: all;
}

.cronograma-info-extra {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.cronograma-item.expandido .cronograma-info-extra {
  opacity: 1;
  max-height: 200px;
  margin-top: 10px;
}
